
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">

        @*kategoriler*@
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")


        </div>
        <div class="col-md-7 col-md-offset-1">

          

            @*yazılar*@
            


            <div class="row">
                <h2 class="text-center"> Amet, consectetur adipsicinng.</h2>

                <img src="http://placehold.it/500x200" class ="center-block img-responsive img-rounded img-thumbnail"
                     alt="Alternate Text"/>
                <hr/>
                <p>
                    Tüm yarı gezginlik tarihimizde bizi en zorlayan seyahat planı hangisidir diye sorarlarsa artık çok net bir cevabımız var; Japonya gezisi.
                </p>
                <p> Valla gözünüzü korkutmuş gibi olduysak da yapacak bir şey yok, gerçekler acıdır, dost acı söyler ve konuyla ilgili diğer deyim ve atasözlerini buraya sıralamışız gibi düşünün. </p>
                <p> Neticede alfabesinden ulaşım sistemine, yediğiniz içtiğinizden gezip gördüğünüze her şeyiyle dünyada karşılaştığınız pek çok yerden kat kat daha farklı bir ülkeden bahsediyoruz. </p>
                <p>
                    Resmen alternatif bir medeniyet ile tanışıyormuşsunuz gibi düşünmeniz lazım. Üstelik Japonlar o kadar plan program insanı ki, her şeyi mutlaka önceden ayarlamanız, her detayı önceden düşünmeyi alışkanlık haline gerekiyor, aksi takdirde mutlaka bir şeyleri kaçırıyorsunuz. Çoğumuzun Japonya gibi bir ülkeye birkaç kez gitme ihtimalinin düşük olduğunu göz önünde bulundurunca böyle bir şey yaşamak, ne bilelim görmeyi istediğiniz bir müzeye girememek ya da X trenini kaçırdığınız için 1 şehri ziyaret edememek herhalde sizi de delirtir değil mi?
                    Biz Japonya gezisi için yola çıkmadan önce kaynak konusunda öyle büyük bir eksiklik yaşadık ki, daha İstanbul’da yatağımızda yatarken bile her gece yeminler ediyorduk sdfs. BİZ ÇEKTİK, ONLARA ÇEKTİRMEYECEĞİZ diye dolaştık ortalıkta resmen ve neticede Japonya gezisi planlamak konusunda size yardımcı olabilecek her bir detayı tek bir yazıda topladık ki, siz bu süreci problemsiz ve BAŞLARIM JAPONYASINA DA GEZİSİNE DE demeden atlatın diye. Buyrun artık Japonya gezisi planımıza geçiş yapalım.
                </p>

            </div>



        </div>
    </div>
</div>


