
@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">
    <div class="row">

        @*kategoriler*@
        <div class="col-md-3">
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Bosna</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Category 2</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Category 3</a>
            </div>
        </div>
        <div class="col-md-9">

            @*carousel*@
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>

            @*yazılar*@
            <div class="row">
                <p>
                    Tüm yarı gezginlik tarihimizde bizi en zorlayan seyahat planı hangisidir diye sorarlarsa artık çok net bir cevabımız var; Japonya gezisi. Valla gözünüzü korkutmuş gibi olduysak da yapacak bir şey yok, gerçekler acıdır, dost acı söyler ve konuyla ilgili diğer deyim ve atasözlerini buraya sıralamışız gibi düşünün. Neticede alfabesinden ulaşım sistemine, yediğiniz içtiğinizden gezip gördüğünüze her şeyiyle dünyada karşılaştığınız pek çok yerden kat kat daha farklı bir ülkeden bahsediyoruz. Resmen alternatif bir medeniyet ile tanışıyormuşsunuz gibi düşünmeniz lazım. Üstelik Japonlar o kadar plan program insanı ki, her şeyi mutlaka önceden ayarlamanız, her detayı önceden düşünmeyi alışkanlık haline gerekiyor, aksi takdirde mutlaka bir şeyleri kaçırıyorsunuz. Çoğumuzun Japonya gibi bir ülkeye birkaç kez gitme ihtimalinin düşük olduğunu göz önünde bulundurunca böyle bir şey yaşamak, ne bilelim görmeyi istediğiniz bir müzeye girememek ya da X trenini kaçırdığınız için 1 şehri ziyaret edememek herhalde sizi de delirtir değil mi?
                    Biz Japonya gezisi için yola çıkmadan önce kaynak konusunda öyle büyük bir eksiklik yaşadık ki, daha İstanbul’da yatağımızda yatarken bile her gece yeminler ediyorduk sdfs. BİZ ÇEKTİK, ONLARA ÇEKTİRMEYECEĞİZ diye dolaştık ortalıkta resmen ve neticede Japonya gezisi planlamak konusunda size yardımcı olabilecek her bir detayı tek bir yazıda topladık ki, siz bu süreci problemsiz ve BAŞLARIM JAPONYASINA DA GEZİSİNE DE demeden atlatın diye. Buyrun artık Japonya gezisi planımıza geçiş yapalım.
                </p>
            </div>
             
            <hr /> 

            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">

                        <div class="caption">

                            <h5>
                                <a href="#">merhaba yazzzz</a>
                            </h5>
                            <h6>
                                <span class="glyphicon glyphicon-user"></span> Mirem Işıldak <br />
                                <span class="glyphicon glyphicon-time"></span> 03.12.2019 <br />
                            </h6>
                            <p>basdfbasdfbsdnfkjasdkfnahsdjfh. djsahfkjhsdf</p>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-comment"></span> Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-sm" type="button"> <span class="glyphicon glyphicon-star-empty"></span>15</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">

                        <div class="caption">

                            <h5>
                                <a href="#">merhaba yazzzz</a>
                            </h5>
                            <h6>
                                <span class="glyphicon glyphicon-user"></span> Mirem Işıldak <br />
                                <span class="glyphicon glyphicon-time"></span> 03.12.2019 <br />
                            </h6>
                            <p>basdfbasdfbsdnfkjasdkfnahsdjfh. djsahfkjhsdf</p>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-comment"></span> Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-sm" type="button"> <span class="glyphicon glyphicon-star-empty"></span>15</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">

                        <div class="caption">

                            <h5>
                                <a href="#">merhaba yazzzz</a>
                            </h5>
                            <h6>
                                <span class="glyphicon glyphicon-user"></span> Mirem Işıldak <br />
                                <span class="glyphicon glyphicon-time"></span> 03.12.2019 <br />
                            </h6>
                            <p>basdfbasdfbsdnfkjasdkfnahsdjfh. djsahfkjhsdf</p>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="ratings">
                            <p class="pull-right">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-comment"></span> Yorumlar
                                </button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-sm" type="button"> <span class="glyphicon glyphicon-star-empty"></span>15</button>
                            </p>
                        </div>
                    </div>
                </div>
               
            </div>



            </div>
        </div>
</div>

