@using TheStory.Entities.ValueObjects

@model LoginViewModel

@{
    ViewBag.Title = "The Story - Giriş Sayfası";
}

<link href="~/Content/login-register.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">Giriş Formu</h1>
                </div>
                <div class="main-content">

                    @Html.ValidationSummary(false)
                    @if (ViewBag.SetLink != null)
                    {
                        <a href="@ViewBag.Setlink" class="btn btn-primary">Activate</a>
                    }

                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı adınız" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.PassWord, new { @class = "form-control", placeholder = "Şifreniz", type = "password" })
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-danger btn-lg btn-block login-button">Giriş</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

    <script>
    $ / (function () {
        $("footer").parent().hide();

        setTimeout(function () {
            window.location = "/Home/Index";
        },1000)
    });
    </script>

